---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TrustIcon from "../components/TrustIcon.astro";
import Layout from "../layouts/Layout.astro";
import identityAgentIcon from "../../assets/identity-agent-icon.svg"
import hilIcon from "../../assets/hil-icon.svg"
import meeFoundationIcon from "../../assets/mee-foundation-icon.svg"
import difIcon from "../../public/images/dif-logo.png"


const textArray = [
  "We are a nonprofit committed to empowering people by putting them in control of their online identity.",
  "We push back against surveillance advertising by giving people tools to represent them and protect their interests online. These tools increase personal privacy, autonomy, and convenience.",
];

const joinUsText = [
  "Join the movement! Let’s take back control of our data. To join, all you have to do is download our app. After that, it automatically does things like send a “Do Not Sell My Personal Information” signal to every site you visit, and more.",
  "Do you share our vision? Do you want to contribute to our mission? Let’s talk! Tap the Mee button to connect with us. Follow us on Twitter.",
  "We invite online service providers across all industries to join us in committing to fair and responsible data practices that will build trust with users. Just tap the Connect with Mee button to connect with us."
];

// TODO Add link to HIL link
---

<Layout title="Mee Foundation - About Us">
  <Header logoColor="blue" backgroundColor="bg-white"/>
  <main class="scrollContainer transform-gpu">
    <section class="flex flex-col justify-center items-center w-screen bg-white transform-gpu">
      <section class="flex flex-col justify-center items-center w-screen pt-32 md:pt-30 pb-25 lg:pb-40 bg-white h-auto">
        <div class="overflow-hidden mb-8">
          <h1 class="marker animate-riseIn mt-[28px] lg:mt-[52px] text-6xl lg:text-7xl font-bold">
            <mark>About</mark> us
          </h1>
        </div>
        <section class="relative flex flex-col items-center gap-15 md:gap-25 lg:gap-32 xl:gap-32 px-10  w-full max-w-[1094px] animation-delay-800">
          {textArray.map((text,i) => (
            <div class="overflow-hidden">
              <p class:list={
                ["aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-justify ",
                {"animation-delay-800": i !== 1},
                {"animation-delay-800 lg:animation-delay-1000": i === 1}
              ]} set:html={text} />
            </div>
          ))}
        </section>
      </section>

      <section class="flex flex-col justify-center items-center w-screen pt-32 md:pt-30 pb-25 lg:pb-40 bg-white h-auto">
        <div class="overflow-hidden mb-8">
          <h1 class="marker animate-riseIn mt-[28px] lg:mt-[52px] text-6xl lg:text-7xl font-bold">
            <mark>Join</mark> us
          </h1>
        </div>
        <section class="relative flex flex-col items-center gap-15 md:gap-25 lg:gap-32 xl:gap-32 px-10  w-full max-w-[1094px] animation-delay-800">
            <div class="overflow-hidden flex items-center flex-col">
              <p class:list={
                ["animation-delay-800 aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-justify"
              ]} set:html={joinUsText[0]} />
            </div>
            <div class="overflow-hidden flex items-center flex-col">
              <p class:list={
                ["animation-delay-800 lg:animation-delay-1000 aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-justify "]}
                set:html={joinUsText[1]} />
            </div>
            <div class="overflow-hidden">
              <p class:list={
                ["animation-delay-800 aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-justify ",
              ]} set:html={joinUsText[2]} />
            </div>
          <div class="-bottom-7.5 lg:bottom-45 z-10">
            <TrustIcon fill="#447F88"/>
          </div>
        </section>
      </section>

      <section class="platform relative flex flex-col items-center text-black/[.8] py-30 md:pt-40 md:pb-45 px-5 w-[400vw] lg:w-[200vw]">
        <h2 class="text-3xl leading-thick md:text-4xl md:leading-normal font-bold mb-15 md:mb-25">The Mee platform</h2>
        <div class="flex flex-col items-center lg:items-start justify-center lg:flex-row gap-18.5 mb-23 px-5 lg:mb-35.5 w-screen">
          <div class="platform__item flex flex-col gap-5 justify-center items-center text-center max-w-[340px]">
            <span class="icon flex justify-center items-center mb-3 lg:mb-10 uppercase text-base text-white"><img src="/images/identity-agent-icon.svg"/></span>
            <h6 class="text-xl leading-thick font-bold text-black/[.8]">Identity Agent</h6>
            <p class="text-base font-medium text-black/[.8] leading-[1.6]">Free, open-source app that  represents you, protects your interests, and enables trusted, private data sharing with certified provider’s apps/sites</p>
          </div>
          <div class="platform__item flex flex-col gap-5 justify-center items-center text-center max-w-[340px]">
            <span class="icon flex justify-center items-center mb-3 lg:mb-10 uppercase text-base text-white"><img src="/images/hil-icon.svg"/></span>
            <h6 class="text-xl leading-thick font-bold text-black/[.8]">Human Information License (HIL)</h6>
            <p class="text-base font-medium text-black/[.8] leading-[1.6]">A contract between The Mee Foundation, acting on behalf of the user, and the digital service provider. Required to join the Mee provider community, the HIL defines what providers can do with users’ data.</p>
            <a class="hidden link relative flex justify-between items-center gap-2 text-base font-extrabold text-black/[.8] leading-[1.6] after:bg-black/[.8] after:-rotate-45" href="#" rel="nofollow" target="_blank">Human Information License (HIL)</a>
          </div>
          <div class="platform__item flex flex-col gap-5 justify-center items-center text-center max-w-[340px]">
            <span class="icon flex justify-center items-center mb-3 lg:mb-10 uppercase text-base text-white"><img src="/images/mee-foundation-icon.svg"/></span>
            <h6 class="text-xl leading-thick font-bold text-black/[.8]">The Mee Foundation, Inc.</h6>
            <p class="text-base font-medium text-black/[.8] leading-[1.6]">A nonprofit organization which develops the Mee identity agent, certifies providers and enforces providers’ compliance with the HIL on behalf of Mee users.</p>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-center pt-25 pb-12 md:pt-40 bg-white w-[400vw] lg:w-[200vw] rounded-t-1/2 -translate-y-25">
        <h2 class="text-xl md:text-3xl leading-normal font-bold text-blue mb-12 md:mb-21">Partners</h2>
        <div class="flex flex-col justify-evenly items-center lg:flex-row gap-6 w-screen">
          <img src="/images/linux-foundation-logo.svg" width="179" height="60" class="w-[94px] md:w-[179px]" alt="Linux foundation logo" />
          <img src="/images/openid-logo.svg" width="249" height="99" class="w-[130px] md:w-[249px]" alt="OpenID logo" />
          <img src="/images/open-wallet-logo.svg" width="262" height="99" class="w-[138px] md:w-[262px]" alt="OpenWallet foundation logo" />
          <img src={difIcon} width="165" height="56" class="w-[100px] md:w-[165px]" alt="Decentralized Identity Foundation logo" />
        </div>
      </section>
      <Footer appsBtnsSize="medium" mode="dark" withAppButtons={true} />
    </section>
	</main>
</Layout>

<style>
  .aboutText {
    background: linear-gradient(253.14deg, #559FAA 0%, #335F66 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .platform {
    background: linear-gradient(260.15deg, rgba(197, 192, 92, 0.4) 25%, rgba(79, 134, 142, 0.4) 75%);
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
  }
  .icon {
    width: 80px;
    height: 80px;
  }
  .platform__item:nth-child(2) {
    animation-delay: 200ms;
  }
  .platform__item:nth-child(3) {
    animation-delay: 400ms;
  }
  .platform__subtitle > mark::after {
    animation-delay: 2s;
  }
  .link:after {
    content: '';
    mask: url('/images/arrow-right.svg') no-repeat center;
    display: block;
    width: 21px;
    height: 21px;
  }
</style>

<script>
  const aboutTexts = document.querySelectorAll(".aboutText");
  const platform = document.querySelector(".platform");
  const platformItems = document.querySelectorAll(".platform__item");
  const platformSubtitle = document.querySelector(".platform__subtitle");

  const options: IntersectionObserverInit = {
			// root: null,
			threshold: 0,
		};
	const observerAboutText = new IntersectionObserver((entries, _) => {
		entries.forEach((entry) => {
      if (entry.isIntersecting) {
				entry.target.classList.add("animate-riseIn-long");
			} else {
        entry.target.classList.remove("animation-delay-800");
      }
		})
	}, options);

  const observerPlatform = new IntersectionObserver((entries, _) => {
		entries.forEach((entry) => {
      if (entry.isIntersecting) {
				platformItems.forEach(item => item.classList.add("animate-moveCard"));
        platformSubtitle?.classList.add("animate-riseIn", "marker");
			} 
		})
	}, {threshold: 0.1});

		aboutTexts.forEach((text) => {
			observerAboutText.observe(text)
		});

    if (platform) observerPlatform.observe(platform);

</script>