---
import {Header, Footer} from 'mee-components';
import {header, footer} from '../../astro.config.mjs';
import TrustIcon from '../components/TrustIcon.astro';
import Layout from '../layouts/Layout.astro';
import difIcon from '../../public/images/dif-logo.png';
import githubLogo from '../../public/images/github-logo.svg';
import linkedinLogo from '../../public/images/linkedin-logo.svg';
import PatreonIcon from '@components/PatreonIcon.astro';

const textArray = [
  'We are a nonprofit with a mission to offer the Mee human-centered user experience for the internet.',
];

const joinUsText = [
  'We’re looking for coders, app developers, usability experts, translators, and more. If you’d like to join us, email us at <a href="mailto:hello@mee.foundation" class="decoration-yellow-light underline">hello@mee.foundation</a>',
  'We also invite businesses to join us in committing to fair and responsible data practices that will build trust with people who use their apps and sites.',
];
const principles = [
  {
    title: 'Human Centered Design',
    text: 'The Foundation follows an architectural pattern for the internet which places individuals and their user agents at the center of personal data flows. Flows of personal data should always be mediated by a user agent. No personal data should flow directly from one app/site to another.',
    class: 'col-span-6',
  },
  {
    title: 'User Control and Privacy',
    text: 'The Foundation seeks to shift as much control as possible over their personal data to the individual while complying with applicable law. The individual must explicitly opt-in to any processing and the individual must have the ability to delegate rights over their data to other individuals.',
    class: 'col-span-6',
  },
  {
    title: 'Data Rights and Portability',
    text: "Where personal data must be collected by entities, the Foundation promotes the individual's ability to access, edit, and delete their data regardless of what entity collects it. These rights enable the individual's user agents to move it freely from one entity to another within the Mee Data Network, as well as to download a copy of their data.",
    class: 'col-span-12',
  },
  {
    title: 'Agency',
    text: 'The Foundation promotes the development of personal, trusted, identity agent technology to empower individuals and work entirely on their behalf.',
    class: 'col-span-4',
  },
  {
    title: 'Autonomy',
    text: 'The Foundation believes that individuals should have digital embodiments of themselves (identity agents) that are as independent of administrative authorities as possible.',
    class: 'col-span-4',
  },
  {
    title: 'Decentralization',
    text: 'The Foundation promotes a decentralized architecture where power and control are distributed rather than centralized in a few entities or platforms.',
    class: 'col-span-4',
  },
  {
    title: 'Openness and Transparency',
    text: 'The Foundation believes in open practices, transparency, and accountability. This principle extends to our organizational practices, governance, and the software we develop, all of which is published on GitHub.',
    class: 'col-span-6',
  },
  {
    title: 'Loyalty',
    text: 'The Foundation is a non-profit that works on behalf of individuals and has no incentive to make money from their personal data.',
    class: 'col-span-6',
  },
  {
    title: 'Private Advertising',
    text: "The Foundation enables apps/sites whose service providers earn revenues from advertizing, to continue to do so. However, in contrast to prevailing adtech that relies on tracking individuals across the web, the Foundation fosters the development of private advertising technology which allows ad personalization based on a person's membership in cohorts with similar interests, but does not rely on tracking.",
    class: 'col-span-12',
  },
  {
    title: 'Authorization',
    text: "The Foundation requires that all service providers' apps/sites that exchange data on the Mee Data Network be authorized. They must comply with the Foundation's UX guidelines and execute a MDN License that constrains how they manage the individual's personal data so as to maximize privacy. For example, service providers may not share/sell personal information without explicit consent of the individual. The Foundation maintains a public registry of authorized service providers' apps/sites that are certified to display the Mee trust mark. It enforces this license on behalf of Mee users.",
    class: 'col-span-12',
  },
  {
    title: 'Security',
    text: 'The Foundation prioritizes the security of internet users, employing the best security practices in software development and operations.',
    class: 'col-span-6',
  },
  {
    title: 'Inclusivity',
    text: 'The Foundation offers its services for free to individuals to ensure that everyone has access to, and can participate in, the benefits of control over their personal information regardless of geographic location, socioeconomic status, or preferred technology platform.',
    class: 'col-span-6',
  },
];

const contributors = [
  {
    name: 'Alex Slobodeniuk',
    link: 'https://github.com/AlexSlo-Dev',
    icon: githubLogo,
  },
  {
    name: 'Alex Yuhimenko',
    link: 'https://github.com/alex-swift',
    icon: githubLogo,
  },
  {name: 'Alex Cavalli', link: null, icon: null},
  {
    name: 'Anthony Ivanov',
    link: 'https://github.com/Silenthunt0',
    icon: githubLogo,
  },
  {
    name: 'Anton Matveev',
    link: 'https://github.com/Asfarus1',
    icon: githubLogo,
  },
  {
    name: 'Bogdan Hutuleac',
    link: 'https://www.linkedin.com/in/bogdanhutuleac',
    icon: linkedinLogo,
  },
  {
    name: 'Dalkis Muir',
    link: 'https://www.linkedin.com/in/dalkis-muir-a07380a',
    icon: linkedinLogo,
  },
  {
    name: 'Kirill Khalitov',
    link: 'https://github.com/Voronar',
    icon: githubLogo,
  },
  {name: 'Maria Vasyutenko', link: null, icon: null},
  {
    name: 'Paul Trevithick',
    link: 'https://www.linkedin.com/in/paultrevithick',
    icon: linkedinLogo,
  },
  {name: 'Pavel Gusev', link: 'https://github.com/GusevP', icon: githubLogo},
  {
    name: 'Raman Siliuk',
    link: 'https://github.com/siluk007',
    icon: githubLogo,
  },
  {name: 'Rick Lerner', link: null, icon: null},
  {
    name: 'Sergey Kucherenko',
    link: 'https://github.com/skchrnko',
    icon: githubLogo,
  },
  {name: 'Susan Trevithick', link: null, icon: null},
  {name: 'Valeska O’Leary', link: null, icon: null},
  {name: 'Wendy Seltzer', link: null, icon: null},
  {
    name: 'Xenia Shatalova',
    link: 'https://github.com/ksurmel',
    icon: githubLogo,
  },
];

const supportText = 'Please support us on Patreon.';

// TODO Add link to HIL link and make this link flex instead of hidden
---

<Layout title="Mee Foundation - About Us">
  <Header header={header} activePage="about" />
  <main class="w-screen overflow-hidden">
    <section
      class="flex h-full w-screen transform-gpu flex-col items-center justify-start bg-white pt-25 md:pt-36"
    >
      <article class="mb-28 flex flex-col gap-12 md:gap-y-20">
        <section
          class="flex h-auto w-screen flex-col items-center justify-center bg-white"
        >
          <div class="mb-8 overflow-hidden">
            <h1
              class="marker mt-13 animate-riseIn text-6xl font-bold lg:mt-13 lg:text-7xl"
            >
              <mark>About</mark> us
            </h1>
          </div>
          <section
            class="relative flex w-full max-w-273.5 flex-col items-center gap-8 px-10 animation-delay-800 md:gap-12 lg:gap-16"
          >
            {
              textArray.map((text, i) => (
                <div class="overflow-hidden">
                  <p
                    class:list={[
                      'aboutText text-center text-xl font-thin leading-tight md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight',
                      {'animation-delay-800': i !== 1},
                      {
                        'animation-delay-800 lg:animation-delay-1000': i === 1,
                      },
                    ]}
                    set:html={text}
                  />
                </div>
              ))
            }
          </section>
        </section>
        <section
          class="relative flex h-auto w-screen flex-col items-center justify-center gap-8 bg-white px-10 animation-delay-800"
        >
          <div class="overflow-hidden">
            <h2
              class="marker mt-13 animate-riseIn text-3xl font-bold leading-thick md:text-4xl md:leading-normal lg:mt-13 lg:text-5xl"
            >
              Contributors
            </h2>
          </div>
          <div
            class="flex w-full flex-col flex-wrap items-center justify-center overflow-hidden"
          >
            <p
              class="aboutText leading text-center text-xl font-thin leading-tight animation-delay-800 md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight"
            >
              Coders, admins, writers, legal experts, and more
            </p>
          </div>
          <div class="flex w-full max-w-273.5 items-center overflow-hidden">
            <div
              class="flex animate-riseIn flex-wrap items-center justify-center gap-4 overflow-hidden animation-delay-1000 xl:gap-6"
            >
              {
                contributors.map((contributor) => {
                  if (!contributor.link) {
                    return (
                      <div class="leading flex h-10 w-44 flex-shrink-0 items-center justify-between rounded-lg border border-grey-300 px-4 text-center text-base font-semibold leading-tight text-grey-800 sm:w-56 xl:h-12 xl:w-60 xl:text-lg">
                        <p>{contributor.name}</p>
                      </div>
                    );
                  }
                  return (
                    <a
                      class="leading flex h-10 w-44 flex-shrink-0 items-center justify-between rounded-lg border border-grey-300 px-4 text-center text-base font-semibold leading-tight text-grey-800 sm:w-56 xl:h-12 xl:w-60 xl:text-lg"
                      href={contributor.link}
                      target="_blank"
                    >
                      <p>{contributor.name}</p>
                      {contributor.icon && (
                        <img
                          src={contributor.icon.src}
                          width="24"
                          height="24"
                          class="h-6 w-6 xl:h-7 xl:w-7"
                          alt="Decentralized Identity Foundation logo"
                        />
                      )}
                    </a>
                  );
                })
              }
            </div>
          </div>
        </section>
        <section
          class="flex h-auto w-screen flex-col items-center justify-center bg-white"
        >
          <div class="mb-8 max-w-273.5 overflow-hidden">
            <h2
              class="marker mt-13 animate-riseIn text-3xl font-bold leading-thick md:text-4xl md:leading-normal lg:mt-13 lg:text-5xl"
            >
              Join us
            </h2>
          </div>
          <section
            class="relative flex w-full max-w-273.5 flex-col items-center gap-14 px-10 animation-delay-800 md:gap-20 lg:gap-24"
          >
            <div class="flex flex-col items-center overflow-hidden">
              <p
                class:list={[
                  'aboutText leading text-center text-xl font-thin leading-tight animation-delay-800 md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight',
                ]}
                set:html={joinUsText[0]}
              />
            </div>
            <div class="overflow-hidden">
              <p
                class:list={[
                  'aboutText leading text-center text-xl font-thin leading-tight animation-delay-800 md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight',
                ]}
                set:html={joinUsText[1]}
              />
            </div>
          </section>
        </section>
        <section
          class="flex h-auto w-screen flex-col items-center justify-center bg-white"
        >
          <div class="mb-8 overflow-hidden">
            <h2
              class="marker mt-7 animate-riseIn text-3xl font-bold leading-thick md:text-4xl md:leading-normal lg:mt-13 lg:text-5xl"
            >
              Support us
            </h2>
          </div>
          <section
            class="relative flex w-full max-w-273.5 flex-col items-center gap-14 px-10 animation-delay-800 md:gap-20 lg:gap-24"
          >
            <div class="flex flex-col items-center">
              <div class="flex flex-col items-center overflow-hidden">
                <p
                  class:list={[
                    'aboutText leading text-center text-xl font-thin leading-tight animation-delay-800 md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight',
                  ]}
                  set:html={supportText}
                />
              </div>
              <div class="mt-8">
                <a
                  href="https://www.patreon.com/TheMeeFoundation"
                  class="flex flex-row items-center gap-2.5 rounded-[10px] bg-black px-8 py-3 text-white"
                >
                  <PatreonIcon />
                  <span class="text-[22px] font-semibold leading-[26px]"
                    >Support on Patreon</span
                  >
                </a>
              </div>
            </div>
            <div class="-bottom-7.5 z-10 lg:bottom-45">
              <TrustIcon fill="#447F88" />
            </div>
          </section>
        </section>
      </article>
      <section
        class="principles-section principles-section-collapse relative mb-28 flex flex-col items-center gap-16 bg-white"
      >
        <button
          id="show-principles"
          class="absolute bottom-4 z-10 flex flex-row items-center justify-center rounded-xl border border-solid border-grey-300 px-4 py-2.5 text-base font-semibold tracking-0.02 text-grey-700"
        >
          Show all principles
        </button>
        <h2
          class="max-w-273.5 text-3xl font-bold leading-thick md:text-4xl md:leading-normal lg:text-5xl"
        >
          Our Principles
        </h2>
        <section
          class="relative flex w-screen max-w-273.5 flex-col items-center gap-16 px-10 animation-delay-800"
        >
          <div class="flex flex-col items-center overflow-hidden">
            <p
              class:list={[
                'aboutText leading text-center text-xl font-thin leading-tight animation-delay-800 md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight',
              ]}
            >
              Here’s what we live by.
            </p>
          </div>
          <div class="flex flex-col gap-6 lg:grid lg:grid-cols-12">
            {
              principles.map((principle) => (
                <div class:list={['overflow-hidden', principle.class]}>
                  <div
                    class:list={[
                      'principle flex h-full flex-col items-start gap-6 rounded-2xl border border-solid border-brand-200 p-8 animation-delay-800',
                    ]}
                  >
                    <div class="text-2xl font-semibold not-italic leading-8 tracking-0.02 text-brand-900">
                      {principle.title}
                    </div>
                    <div
                      set:html={principle.text}
                      class="text-base font-normal not-italic tracking-0.02 text-brand-700"
                    />
                  </div>
                </div>
              ))
            }
          </div>
        </section>
      </section>
      <section
        class="platform relative flex w-screen-4 flex-col items-center px-5 py-30 text-black md:pb-45 md:pt-40 lg:w-screen-2"
      >
        <h2
          class="mb-15 text-3xl font-bold leading-thick md:mb-25 md:text-4xl md:leading-normal lg:text-5xl"
        >
          Our platform
        </h2>
        <div
          class="flex w-screen flex-col items-center justify-center gap-18.5 px-5 lg:flex-row lg:items-start"
        >
          <div
            class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/personal-data-agents.svg" /></span
            >
            <h6
              class="text-xl font-bold leading-thick text-black md:text-2xl lg:text-3xl"
            >
              Identity Agents
            </h6>
            <p class="text-base font-normal text-black md:text-xl">
              Manage and control your personal information on Mee-compatible
              websites and applications.
            </p>
          </div>
          <div
            class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/identity-agent-icon.svg" /></span
            >
            <h6
              class="text-xl font-bold leading-thick text-black md:text-2xl lg:text-3xl"
            >
              Browser Extensions
            </h6>
            <p class="text-base font-normal text-black md:text-xl">
              Browser extensions that work with Mee-compatible identity agents.
            </p>
          </div>
          <div
            class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/hil-icon.svg" /></span
            >
            <h6
              class="text-xl font-bold leading-thick text-black md:text-2xl lg:text-3xl"
            >
              Legal Agreement for Businesses
            </h6>
            <p class="text-base font-normal text-black md:text-xl">
              The Mee Data Network License defines what businesses can and can’t
              do with your data.
            </p>
            <a
              class="link relative hidden items-center justify-between gap-2 text-base font-extrabold text-black after:-rotate-45 after:bg-black"
              href="#"
              rel="nofollow"
              target="_blank"
              >Human Information License (HIL)
            </a>
          </div>
          <div
            class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/mee-foundation-icon.svg" /></span
            >
            <h6
              class="text-xl font-bold leading-thick text-black md:text-2xl lg:text-3xl"
            >
              The Mee Foundation, Inc.
            </h6>
            <p class="text-base font-normal text-black md:text-xl">
              Our mission is to provide the Mee experience – a human-centered
              user experience for the internet.
            </p>
          </div>
        </div>
      </section>
      <section
        class="flex w-screen-4 -translate-y-25 flex-col items-center rounded-t-1/2 bg-white pb-12 pt-25 md:pt-40 lg:w-screen-2"
      >
        <h2
          class="mb-12 text-3xl font-bold leading-thick md:mb-21 md:text-4xl md:leading-normal lg:text-5xl"
        >
          Partners
        </h2>
        <div
          class="flex w-screen flex-col flex-wrap items-center justify-evenly gap-6 lg:flex-row"
        >
          <img
            src="/images/linux-foundation-logo.svg"
            width="179"
            height="60"
            class="w-23.5 md:w-44.75"
            alt="Linux foundation logo"
          />
          <img
            src="/images/openid-logo.svg"
            width="249"
            height="99"
            class="w-32.5 md:w-62.25"
            alt="OpenID logo"
          />
          <img
            src="/images/open-wallet-logo.svg"
            width="262"
            height="99"
            class="w-34.5 md:w-65.5"
            alt="OpenWallet foundation logo"
          />
          <img
            src="/images/mydata-org-logo.png"
            width="262"
            height="99"
            class="w-34.5 md:w-65.5"
            alt="MyData.org logo"
          />
          <img
            src={difIcon.src}
            width="165"
            height="56"
            class="w-25 md:w-41.25"
            alt="Decentralized Identity Foundation logo"
          />
        </div>
      </section>
      <Footer footer={footer} mode="dark" />
    </section>
  </main>
</Layout>

<style>
  .aboutText {
    background: linear-gradient(253.14deg, #559faa 0%, #335f66 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .principles-section-collapse {
    max-height: 1300px;
    overflow: hidden;
  }

  .principles-section-collapse:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 216px;
    background: linear-gradient(
      360deg,
      #ffffff 45.5%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
  .principle {
    background: linear-gradient(319.57deg, #ffffff 35.85%, #f3f8f8 72.21%);
  }
  .platform {
    background: linear-gradient(
      260.15deg,
      rgba(197, 192, 92, 0.4) 25%,
      rgba(79, 134, 142, 0.4) 75%
    );
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .icon {
    width: 80px;
    height: 80px;
  }
  .platform__item:nth-child(2) {
    animation-delay: 200ms;
  }
  .platform__item:nth-child(3) {
    animation-delay: 400ms;
  }
  .platform__subtitle > mark::after {
    animation-delay: 2s;
  }
  .link:after {
    content: '';
    mask: url('/images/arrow-right.svg') no-repeat center;
    display: block;
    width: 21px;
    height: 21px;
  }
</style>

<script>
  const aboutTexts = document.querySelectorAll('.aboutText');
  const platform = document.querySelector('.platform');
  const platformItems = document.querySelectorAll('.platform__item');
  const platformSubtitle = document.querySelector('.platform__subtitle');
  const principlesSection = document.querySelector(
    '.principles-section',
  ) as HTMLElement;
  const showPrinciples = document.getElementById('show-principles');
  showPrinciples?.addEventListener('click', () => {
    showPrinciples.classList.add('hidden');
    principlesSection?.classList.remove('principles-section-collapse');
  });
  const options: IntersectionObserverInit = {
    // root: null,
    threshold: 0,
  };
  const observerAboutText = new IntersectionObserver((entries, _) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-riseIn-long');
      } else {
        entry.target.classList.remove('animation-delay-800');
      }
    });
  }, options);

  const observerPlatform = new IntersectionObserver(
    (entries, _) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          platformItems.forEach((item) =>
            item.classList.add('animate-moveCard'),
          );
          platformSubtitle?.classList.add('animate-riseIn', 'marker');
        }
      });
    },
    {threshold: 0.1},
  );

  aboutTexts.forEach((text) => {
    observerAboutText.observe(text);
  });

  if (platform) observerPlatform.observe(platform);
</script>
