---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import TrustIcon from '../components/TrustIcon.astro';
import Layout from '../layouts/Layout.astro';
import identityAgentIcon from '@assets/identity-agent-icon.svg';
import hilIcon from '@assets/hil-icon.svg';
import meeFoundationIcon from '@assets/mee-foundation-icon.svg';
import difIcon from '../../public/images/dif-logo.png';

const textArray = [
  'We are a nonprofit committed to empowering people by putting them in control of their online identity.',
  'We do this by developing and making available a smartwallet that increases privacy, autonomy, and convenience.',
];

const joinUsText = [
  'Join the movement! Let’s take back control of our data. To join, just download our smartwallet app.',
  'Do you share our vision? Would you like to contribute to our mission? Let’s talk! Tap the Connect-with-Mee button to connect with us. Follow us on Twitter.',
  'We invite online service providers to join us in committing to fair and responsible data practices that will build trust with people who use their apps and sites.',
];

// TODO Add link to HIL link
---

<Layout title="Mee Foundation - About Us">
  <Header logoColor="blue" backgroundColor="backdrop-blur-md" />
  <main class="scrollContainer transform-gpu">
    <section
      class="flex w-screen transform-gpu flex-col items-center justify-center bg-white"
    >
      <section
        class="flex h-auto w-screen flex-col items-center justify-center bg-white pb-25 pt-32 md:pt-30 lg:pb-40"
      >
        <div class="mb-8 overflow-hidden">
          <h1
            class="marker mt-[28px] animate-riseIn text-6xl font-bold lg:mt-[52px] lg:text-7xl"
          >
            <mark>About</mark> us
          </h1>
        </div>
        <section
          class="relative flex w-full max-w-[1094px] flex-col items-center gap-15 px-10 animation-delay-800 md:gap-25 lg:gap-32 xl:gap-32"
        >
          {
            textArray.map((text, i) => (
              <div class="overflow-hidden">
                <p
                  class:list={[
                    'aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-center ',
                    {'animation-delay-800': i !== 1},
                    {'animation-delay-800 lg:animation-delay-1000': i === 1},
                  ]}
                  set:html={text}
                />
              </div>
            ))
          }
        </section>
      </section>

      <section
        class="flex h-auto w-screen flex-col items-center justify-center bg-white pb-25 pt-32 md:pt-30 lg:pb-40"
      >
        <div class="mb-8 overflow-hidden">
          <h1
            class="marker mt-[28px] animate-riseIn text-6xl font-bold lg:mt-[52px] lg:text-7xl"
          >
            <mark>Join</mark> us
          </h1>
        </div>
        <section
          class="relative flex w-full max-w-[1094px] flex-col items-center gap-15 px-10 animation-delay-800 md:gap-25 lg:gap-32 xl:gap-32"
        >
          <div class="flex flex-col items-center overflow-hidden">
            <p
              class:list={[
                'animation-delay-800 aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-center',
              ]}
              set:html={joinUsText[0]}
            />
          </div>
          <div class="flex flex-col items-center overflow-hidden">
            <p
              class:list={[
                'animation-delay-800 lg:animation-delay-1000 aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-center ',
              ]}
              set:html={joinUsText[1]}
            />
          </div>
          <div class="overflow-hidden">
            <p
              class:list={[
                'animation-delay-800 aboutText leading text-3xl leading-tight font-thin md:text-5xl lg:text-6xl xl:text-7xl text-center ',
              ]}
              set:html={joinUsText[2]}
            />
          </div>
          <div class="-bottom-7.5 z-10 lg:bottom-45">
            <TrustIcon fill="#447F88" />
          </div>
        </section>
      </section>

      <section
        class="platform relative flex w-[400vw] flex-col items-center px-5 py-30 text-black/[.8] md:pb-45 md:pt-40 lg:w-[200vw]"
      >
        <h2
          class="mb-15 text-3xl font-bold leading-thick md:mb-25 md:text-4xl md:leading-normal"
        >
          The Mee platform
        </h2>
        <div
          class="mb-23 flex w-screen flex-col items-center justify-center gap-18.5 px-5 lg:mb-35.5 lg:flex-row lg:items-start"
        >
          <div
            class="platform__item flex max-w-[340px] flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/identity-agent-icon.svg" /></span
            >
            <h6 class="text-xl font-bold leading-thick text-black/[.8]">
              Mee smartwallet
            </h6>
            <p class="text-base font-medium leading-[1.6] text-black/[.8]">
              A free, open-source mobile app that puts you in control of your
              online identity. It retrieves, organizes, and stores your data
              securely on your device. It represents you at service providers
              you trust. It enhances your privacy by telling businesses not to
              track you, and not to sell your information.
            </p>
          </div>
          <div
            class="platform__item flex max-w-[340px] flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/hil-icon.svg" /></span
            >
            <h6 class="text-xl font-bold leading-thick text-black/[.8]">
              Human Information License (HIL)
            </h6>
            <p class="text-base font-medium leading-[1.6] text-black/[.8]">
              A contract between The Mee Foundation, acting on behalf of you,
              and an online service provider. The HIL defines what businesses
              can and can’t do with your data. [Under development]
            </p>
            <a
              class="link relative flex hidden items-center justify-between gap-2 text-base font-extrabold leading-[1.6] text-black/[.8] after:-rotate-45 after:bg-black/[.8]"
              href="#"
              rel="nofollow"
              target="_blank">Human Information License (HIL)</a
            >
          </div>
          <div
            class="platform__item flex max-w-[340px] flex-col items-center justify-center gap-5 text-center"
          >
            <span
              class="icon mb-3 flex items-center justify-center text-base uppercase text-white lg:mb-10"
              ><img src="/images/mee-foundation-icon.svg" /></span
            >
            <h6 class="text-xl font-bold leading-thick text-black/[.8]">
              The Mee Foundation, Inc.
            </h6>
            <p class="text-base font-medium leading-[1.6] text-black/[.8]">
              A nonprofit organization which develops and makes awailable the
              Mee smartwallet. In the future we plan to certify businesses, and
              enforce compliance with the HIL.
            </p>
          </div>
        </div>
      </section>
      <section
        class="flex w-[400vw] -translate-y-25 flex-col items-center rounded-t-1/2 bg-white pb-12 pt-25 md:pt-40 lg:w-[200vw]"
      >
        <h2
          class="mb-12 text-xl font-bold leading-normal text-blue md:mb-21 md:text-3xl"
        >
          Partners
        </h2>
        <div
          class="flex w-screen flex-col items-center justify-evenly gap-6 lg:flex-row"
        >
          <img
            src="/images/linux-foundation-logo.svg"
            width="179"
            height="60"
            class="w-[94px] md:w-[179px]"
            alt="Linux foundation logo"
          />
          <img
            src="/images/openid-logo.svg"
            width="249"
            height="99"
            class="w-[130px] md:w-[249px]"
            alt="OpenID logo"
          />
          <img
            src="/images/open-wallet-logo.svg"
            width="262"
            height="99"
            class="w-[138px] md:w-[262px]"
            alt="OpenWallet foundation logo"
          />
          <img
            src={difIcon.src}
            width="165"
            height="56"
            class="w-[100px] md:w-[165px]"
            alt="Decentralized Identity Foundation logo"
          />
        </div>
      </section>
      <Footer appsBtnsSize="medium" mode="dark" withAppButtons={true} />
    </section>
  </main>
</Layout>

<style>
  .aboutText {
    background: linear-gradient(253.14deg, #559faa 0%, #335f66 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .platform {
    background: linear-gradient(
      260.15deg,
      rgba(197, 192, 92, 0.4) 25%,
      rgba(79, 134, 142, 0.4) 75%
    );
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .icon {
    width: 80px;
    height: 80px;
  }
  .platform__item:nth-child(2) {
    animation-delay: 200ms;
  }
  .platform__item:nth-child(3) {
    animation-delay: 400ms;
  }
  .platform__subtitle > mark::after {
    animation-delay: 2s;
  }
  .link:after {
    content: '';
    mask: url('/images/arrow-right.svg') no-repeat center;
    display: block;
    width: 21px;
    height: 21px;
  }
</style>

<script>
  const aboutTexts = document.querySelectorAll('.aboutText');
  const platform = document.querySelector('.platform');
  const platformItems = document.querySelectorAll('.platform__item');
  const platformSubtitle = document.querySelector('.platform__subtitle');

  const options: IntersectionObserverInit = {
    // root: null,
    threshold: 0,
  };
  const observerAboutText = new IntersectionObserver((entries, _) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-riseIn-long');
      } else {
        entry.target.classList.remove('animation-delay-800');
      }
    });
  }, options);

  const observerPlatform = new IntersectionObserver(
    (entries, _) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          platformItems.forEach((item) =>
            item.classList.add('animate-moveCard'),
          );
          platformSubtitle?.classList.add('animate-riseIn', 'marker');
        }
      });
    },
    {threshold: 0.1},
  );

  aboutTexts.forEach((text) => {
    observerAboutText.observe(text);
  });

  if (platform) observerPlatform.observe(platform);
</script>
