---
import AppButtons from './AppButtons.astro';
// import MeeButton from './MeeButton.astro';
import { links } from './Menu.astro';
import twitterIconWhite from "../../public/images/twitter-logo-white.png"
import twitterIconBlack from "../../public/images/twitter-logo-black.png"

export interface Props {
  mode: "dark" | "light";
  withAppButtons?: boolean;
  appsBtnsSize?: "normal" | "big" | "medium";
}


const {mode,withAppButtons = false, appsBtnsSize = "normal"} = Astro.props;
const twitterIcon = mode === 'dark' ? twitterIconWhite : twitterIconBlack

// TODO Add bg animation on connect with mee button
// TODO Add link to connect button

const footerLinks = [...links]
footerLinks.shift()
// Bring this link in the future
// footerLinks.unshift({name: "How Mee Works", link:"https://docs-dev.mee.foundation/"})

---

<footer id="footer" class:list={["footer flex flex-col items-center justify-center pt-33 w-[400vw] md:w-[200vw] z-200", {"footer--fill text-white": mode === "dark", "text-blue": mode === "light"}]}>
  <!-- <div class="flex flex-col gap-7 mb-12.5 w-screen items-center">
    <h6 class="text-2xl leading-normal font-bold">Click here to get email updates about Mee</h6>
    <MeeButton mode={mode} />
  </div> -->
  {withAppButtons && <AppButtons btnSize={appsBtnsSize} class="mb-25" />}
  <div class:list={["flex flex-col xl:flex-row justify-between items-center w-screen px-5 md:px-15 pb-10 text-sm font-medium leading-none tracking-wider gap-7", {"text-white": mode === "dark", "text-gray": mode === "light"}]}>
    <span class="hidden whitespace-nowrap max-w-[153px] xl:inline">© {new Date().getFullYear()} The Mee Foundation, Inc.</span>
    <ul class="flex text-center flex-col md:flex-row gap-7 md:gap-10 mb-13 md:mb-0">
      {footerLinks.map(link => <li><a href={link.link}>{link.name}</a></li>)}
    </ul>
    <div class="flex items-center">
      <a href="/privacy-policy" target="_blank">Privacy Policy</a>
      <a href="https://twitter.com/mee_foundation" class="ml-8" target="_blank">
        <img src={twitterIcon.src} width="20" height="20" class="w-[20px]" alt="Twitter logo" />
      </a>
    </div>
    <span class="inline xl:hidden">© {new Date().getFullYear()} The Mee Foundation, Inc.</span>
  </div>
</footer>

<style>
  .footer {
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
    background-color: white;
		/* transform: translateY(120px); */
	}
  .footer--fill {
    background:  linear-gradient(218.91deg, #559FAA 16.17%, #335F66 56.32%) left bottom no-repeat;
  }
  .link::after {
    content: "";
    mask: url('/images/arrow-right.svg') no-repeat center;
    display: block;
    width: 21px;
    height: 12px;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

<script>
  import { authorize } from 'mee-js-sdk';
  const meeConnectBtn = document.getElementById("meeConnectBtn")

  if (meeConnectBtn) {
    meeConnectBtn.addEventListener('click', (e) => {
      e.preventDefault()
      authorize()
    });
  }
</script>